.settings-section{

    border-top:1px solid var(--border2);

    padding:18px 0;

}

.settings-section h4{

    margin-bottom:12px;

    color:var(--green);

}

.setting-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:10px 0;

}

.setting-row select{

    padding:6px 10px;

    border-radius:8px;

    border:1px solid var(--border2);

    background:var(--card);

    color:var(--text);

}

.setting-row input[type="checkbox"]{

    width:18px;

    height:18px;

    accent-color:var(--green);

}
.modal {

    overflow-y: auto;

    scrollbar-width: none;

    -ms-overflow-style: none;

}

.modal::-webkit-scrollbar {

    display: none;

}